<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> {{ WEB.CONTACT.username }} </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Open Sans Fonts -->
  <link href="static/assets/css/font.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v2.1.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#skills"><i class="bx bx-server"></i> <span>Skills</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1> {{ WEB.HOME.title }} </h1>
      <p>I'm <span class="typed" data-typed-items="{{ WEB.HOME.subtitles | join:',' }}"></span></p>
      <div class="social-links">
        {% for site in WEB.SOCIAL.sites %}
          <a href="{{ site.link }}" class="{{ site.name|lower }}" target="_blank"><i class="bx bxl-{{ site.name | lower }} bx-md"></i></a>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="min-height: 100vh;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-md-6" data-aos="fade-right">
            <img src="static/assets/img/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3> {{ WEB.ABOUT.title }} </h3>

            <!-- List of roles/task what you do  -->
            {% for role in WEB.ABOUT.roles %}
            <p>
                {{ role }}
            </p>
            {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg" style="min-height: 100vh;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p> {{ WEB.SKILLS.title }} </p>
        </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10" data-aos="zoom-in">

              <ul class="dev-icons">

              <!-- Tools/Technologies you have worked on -->
              {% for tool in WEB.SKILLS.tools %}
                <li class="software-skill-inline">
                    <img src="{{ tool.path }}">
                  <p> {{ tool.name }} </p>
                </li>
              {% endfor %}

              </ul>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Proficiency</h2>
        </div>

        <div class="row skills-content">

            <div class="col">

              {% for tech in WEB.PROFICIENCY.techs %}
                <div class="progress">
                    <span class="skill"> {{ tech.name }} <i class="val"> {{ tech.progress }}% </i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ tech.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              {% endfor %}

            </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="min-height: 100vh;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-md-5" data-aos="fade-right">
            <h2 style="color: #0563bb; font-weight: 400; font-size: 30px;"> {{ WEB.RESUME.title }} </h2>
            <h3 style="color: dimgrey; font-weight: 400; font-size: 20px;">{{ WEB.RESUME.designation }}</h3>
            <p> {{ WEB.RESUME.summary }} </p>
          </div>

            <div class="col-md-2 d-flex justify-content-center">
              <img class="avatar" src="{{ WEB.RESUME.avatar }}" width="150px" height="180px">
            </div>

          <div class="col-md-5" data-aos="fade-left">
            <ul class="address">
              <li><a href="mailto:{{ WEB.CONTACT.email }}"> {{ WEB.CONTACT.email }} </a><i class='bx bxs-envelope'></i></li>
              <li><a href="tel:{{ WEB.CONTACT.phone }}"> {{ WEB.CONTACT.phone }} </a><i class='bx bxs-phone-call' ></i></li>
              <li>{{ WEB.CONTACT.city }}, {{ WEB.CONTACT.country }} <i class='bx bxs-map'></i></li>

              <!-- Check for website link -->
              {% if WEB.CONTACT.website %}
                <li><a href="{{ WEB.CONTACT.website }}" target="blank"> Website </a><i class='bx bxs-planet'></i></li>
              {% endif %}

              <!-- check for linkedin link -->
              {% if WEB.CONTACT.linkedin %}
                <li><a href="{{ WEB.CONTACT.linkedin }}" target="blank"> Linkedin Profile </a><i class='bx bxl-linkedin-square' ></i></li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <hr style="border: 1px solid #0563bb;margin: unset;">
          </div>
        </div>


        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>

            {% for exp in WEB.RESUME.experience %}
              <div class="resume-item">
                <h3> {{ exp.role }} </h3>
                <h5> {{ exp.date }} </h5>
                <p><em> {{ exp.company }} </em></p>
                <ul>
                  {% for task in exp.tasks %}
                    <li> {{ task }} </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            {% for edu in WEB.RESUME.education %}
              <div class="resume-item">
                <h3>{{ edu.degree }}</h3>
                <h5>{{ edu.session }} </h5>
                <p><em>{{ edu.university }})</em></p>
                <p> {{ edu.summary }} </p>
              </div>
            {% endfor %}

            <h3 class="resume-title">Top Skills</h3>
            <div class="top-skills">
                <div class="ml-4">
                {% for skill in WEB.RESUME.top_skills|slice:":5" %}
                <div class="row mb-2">
                    <div class="col-4"> {{ skill.name | capfirst }} </div>
                    <div class="col-8">
                    <ul class="resume-skills">
                        <li>
                            {% for i in RATING_LIST %}
                              {% if skill.rating >= i %}
                                <i class='bx bxs-circle bx-sm'></i>
                              {% else %}
                                <i class='bx bx-circle bx-sm'></i>
                              {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>

            <h3 class="resume-title">Projects</h3>

            {% for project in WEB.RESUME.projects %}
              <div class="resume-item">
                <h3> {{ project.name }} </h3>
                <h5> {{ project.date }} </h5>
                <p><em> {{ project.summary }} </em></p>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row">
          <div class="col pt-3">
            <div class="text-center">
              <a href="{{ WEB.RESUME.link }}">
                <button type="button" class="btn btn-outline-primary btn-lg resume-download">
                  <i class="bx bxs-download"></i>
                    <span>Download Resume</span>
                </button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact contact-bg">
      <div class="container" data-aos="fade-up" style="background-color: #ffffffa8;">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4" data-aos="fade-right">

            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p> {{ WEB.CONTACT.city }}, {{ WEB.CONTACT.country }} </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p> {{ WEB.CONTACT.email }} </p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p> {{ WEB.CONTACT.phone }} </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8" data-aos="fade-left">

            <form action="mail/send/" method="post" role="form" class="email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container" data-aos="flip-up">
      <h3>{{ WEB.CONTACT.username }}</h3>
      <p>{{ WEB.SOCIAL.title }}</p>
        <div class="social-links">
            {% for site in WEB.SOCIAL.sites %}
              <a href="{{ site.link }}" class="{{ site.name|lower }}" target="_blank"><i class="bx bxl-{{ site.name | lower }}"></i></a>
            {% endfor %}
        </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>
